<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <header id="main-header">
    <nav>
    <% if controller_name == 'posts' && action_name == 'index' %>
          <a href="<%= new_post_path %>"> add new post</a>
    <% else %>
          <a href="<%= root_path %>"> back to home</a>
    <% end %>
    </nav>
  </header>

  <div id="sidebar">
    <div id="user-info">
      <img src="/user.jpg" class="img-circle" />

      <h3><a href="#">John Doe</a></h3>

      <p>Some description about my work and my hobbies.</p>
    </div>
  </div>

  <section id="content">
    <%= yield %>
    <div class="clearfix"></div>
  </section>
</div>

<footer></footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
